# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-D-II.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-D-IV.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-F-II.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-I.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-II.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-III.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-IV.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-D-I.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-D-III.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-I.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-II.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-IV.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-I.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-III.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-IV.zip
dados/mde_pernambuco/MDE-SC-25-V-A-II-2-NE-D-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-II-2-NE-D-IV.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-A-I.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-A-III.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-C-I.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-C-III.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-III.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-IV.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-I.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-III.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-IV.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-I.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-III.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-IV.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-I.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-III.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-IV.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-I.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-IV.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-I.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-III.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-IV.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-A-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-I.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-II.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-III.zip
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-IV.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-2-SE-F-III.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-2-SE-F-IV.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-4-NE-B-I.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-4-NE-B-II.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-4-NE-B-III.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-4-NE-B-IV.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-4-NE-D-I.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-4-NE-D-II.zip
dados/mde_pernambuco/Caruaru/MDE-SC-24-X-B-III-4-NE-D-IV.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-1-SO-E-I.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-1-SO-E-III.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-1-SO-E-IV.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-1-SO-F-III.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-A-I.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-A-II.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-A-III.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-A-IV.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-B-I.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-B-III.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-C-I.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-C-II.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-C-III.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-C-IV.zip
dados/mde_pernambuco/Caruaru/MDE-SC-25-V-A-I-3-NO-D-I.zip
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-D-II/MDE-SB-25-Y-C-V-4-SE-D-II.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-D-II/MDE-SB-25-Y-C-V-4-SE-D-II.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-D-IV/MDE-SB-25-Y-C-V-4-SE-D-IV.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-D-IV/MDE-SB-25-Y-C-V-4-SE-D-IV.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-F-II/MDE-SB-25-Y-C-V-4-SE-F-II.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-V-4-SE-F-II/MDE-SB-25-Y-C-V-4-SE-F-II.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-I/MDE-SB-25-Y-C-VI-3-SO-C-I.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-I/MDE-SB-25-Y-C-VI-3-SO-C-I.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-II/MDE-SB-25-Y-C-VI-3-SO-C-II.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-II/MDE-SB-25-Y-C-VI-3-SO-C-II.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-III/MDE-SB-25-Y-C-VI-3-SO-C-III.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-III/MDE-SB-25-Y-C-VI-3-SO-C-III.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-IV/MDE-SB-25-Y-C-VI-3-SO-C-IV.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-C-IV/MDE-SB-25-Y-C-VI-3-SO-C-IV.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-D-I/MDE-SB-25-Y-C-VI-3-SO-D-I.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-D-I/MDE-SB-25-Y-C-VI-3-SO-D-I.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-D-III/MDE-SB-25-Y-C-VI-3-SO-D-III.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-D-III/MDE-SB-25-Y-C-VI-3-SO-D-III.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-I/MDE-SB-25-Y-C-VI-3-SO-E-I.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-I/MDE-SB-25-Y-C-VI-3-SO-E-I.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-II/MDE-SB-25-Y-C-VI-3-SO-E-II.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-II/MDE-SB-25-Y-C-VI-3-SO-E-II.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-IV/MDE-SB-25-Y-C-VI-3-SO-E-IV.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-E-IV/MDE-SB-25-Y-C-VI-3-SO-E-IV.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-I/MDE-SB-25-Y-C-VI-3-SO-F-I.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-I/MDE-SB-25-Y-C-VI-3-SO-F-I.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-III/MDE-SB-25-Y-C-VI-3-SO-F-III.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-III/MDE-SB-25-Y-C-VI-3-SO-F-III.tif
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-IV/MDE-SB-25-Y-C-VI-3-SO-F-IV.tfw
dados/mde_pernambuco/MDE-SB-25-Y-C-VI-3-SO-F-IV/MDE-SB-25-Y-C-VI-3-SO-F-IV.tif
dados/mde_pernambuco/MDE-SC-25-V-A-II-2-NE-D-II/MDE-SC-25-V-A-II-2-NE-D-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-II-2-NE-D-II/MDE-SC-25-V-A-II-2-NE-D-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-II-2-NE-D-IV/MDE-SC-25-V-A-II-2-NE-D-IV.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-II-2-NE-D-IV/MDE-SC-25-V-A-II-2-NE-D-IV.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-A-I/MDE-SC-25-V-A-III-1-NE-A-I.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-A-I/MDE-SC-25-V-A-III-1-NE-A-I.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-A-III/MDE-SC-25-V-A-III-1-NE-A-III.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-A-III/MDE-SC-25-V-A-III-1-NE-A-III.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-C-I/MDE-SC-25-V-A-III-1-NE-C-I.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-C-I/MDE-SC-25-V-A-III-1-NE-C-I.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-C-III/MDE-SC-25-V-A-III-1-NE-C-III.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NE-C-III/MDE-SC-25-V-A-III-1-NE-C-III.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-II/MDE-SC-25-V-A-III-1-NO-A-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-II/MDE-SC-25-V-A-III-1-NO-A-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-III/MDE-SC-25-V-A-III-1-NO-A-III.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-III/MDE-SC-25-V-A-III-1-NO-A-III.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-IV/MDE-SC-25-V-A-III-1-NO-A-IV.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-A-IV/MDE-SC-25-V-A-III-1-NO-A-IV.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-I/MDE-SC-25-V-A-III-1-NO-B-I.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-I/MDE-SC-25-V-A-III-1-NO-B-I.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-II/MDE-SC-25-V-A-III-1-NO-B-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-II/MDE-SC-25-V-A-III-1-NO-B-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-III/MDE-SC-25-V-A-III-1-NO-B-III.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-III/MDE-SC-25-V-A-III-1-NO-B-III.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-IV/MDE-SC-25-V-A-III-1-NO-B-IV.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-B-IV/MDE-SC-25-V-A-III-1-NO-B-IV.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-I/MDE-SC-25-V-A-III-1-NO-C-I.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-I/MDE-SC-25-V-A-III-1-NO-C-I.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-II/MDE-SC-25-V-A-III-1-NO-C-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-II/MDE-SC-25-V-A-III-1-NO-C-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-III/MDE-SC-25-V-A-III-1-NO-C-III.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-III/MDE-SC-25-V-A-III-1-NO-C-III.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-IV/MDE-SC-25-V-A-III-1-NO-C-IV.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-C-IV/MDE-SC-25-V-A-III-1-NO-C-IV.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-I/MDE-SC-25-V-A-III-1-NO-D-I.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-I/MDE-SC-25-V-A-III-1-NO-D-I.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-II/MDE-SC-25-V-A-III-1-NO-D-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-II/MDE-SC-25-V-A-III-1-NO-D-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-III/MDE-SC-25-V-A-III-1-NO-D-III.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-III/MDE-SC-25-V-A-III-1-NO-D-III.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-IV/MDE-SC-25-V-A-III-1-NO-D-IV.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-D-IV/MDE-SC-25-V-A-III-1-NO-D-IV.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-I/MDE-SC-25-V-A-III-1-NO-E-I.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-I/MDE-SC-25-V-A-III-1-NO-E-I.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-II/MDE-SC-25-V-A-III-1-NO-E-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-II/MDE-SC-25-V-A-III-1-NO-E-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-IV/MDE-SC-25-V-A-III-1-NO-E-IV.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-E-IV/MDE-SC-25-V-A-III-1-NO-E-IV.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-I/MDE-SC-25-V-A-III-1-NO-F-I.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-I/MDE-SC-25-V-A-III-1-NO-F-I.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-II/MDE-SC-25-V-A-III-1-NO-F-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-II/MDE-SC-25-V-A-III-1-NO-F-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-III/MDE-SC-25-V-A-III-1-NO-F-III.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-III/MDE-SC-25-V-A-III-1-NO-F-III.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-IV/MDE-SC-25-V-A-III-1-NO-F-IV.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-NO-F-IV/MDE-SC-25-V-A-III-1-NO-F-IV.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-A-II/MDE-SC-25-V-A-III-1-SO-A-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-A-II/MDE-SC-25-V-A-III-1-SO-A-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-I/MDE-SC-25-V-A-III-1-SO-B-I.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-I/MDE-SC-25-V-A-III-1-SO-B-I.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-II/MDE-SC-25-V-A-III-1-SO-B-II.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-II/MDE-SC-25-V-A-III-1-SO-B-II.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-III/MDE-SC-25-V-A-III-1-SO-B-III.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-III/MDE-SC-25-V-A-III-1-SO-B-III.tif
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-IV/MDE-SC-25-V-A-III-1-SO-B-IV.tfw
dados/mde_pernambuco/MDE-SC-25-V-A-III-1-SO-B-IV/MDE-SC-25-V-A-III-1-SO-B-IV.tif
.DS_Store
.gitignore
dados/mde_pernambuco_srtm.tif
